---
import { services } from "../data/services";
import ServiceLayout from "../layouts/ServiceLayout.astro";

export function getStaticPaths() {
  return services.map((service) => ({
    params: { slug: service.slug },
    props: service
  }));
}

const { title, subtitle, image, content } = Astro.props;
---

<ServiceLayout
  title={title}
  subtitle={subtitle}
  image={image}
>

  {content.split("\n").map(line => {
    if (line.trim().startsWith("-")) {
      return <li>{line.replace("-", "").trim()}</li>;
    }
    return <p>{line}</p>;
  })}

</ServiceLayout>