---
import ServiceLayout from "../layouts/ServiceLayout.astro";
---

<ServiceLayout
  title="Winterdienst"
  subtitle="Sicher durch den Winter – verlässlicher Räum- und Streudienst."
  image="/maja-hausbetreuung/assets/winterdienst.jpg"
>

  <p>
    Wir sorgen im Winter für sichere Gehwege, Einfahrten und Zugänge.
  </p>

  <h3>Leistungen:</h3>

  <ul>
    <li>Schneeräumung</li>
    <li>Streudienst</li>
    <li>Tauwetterkontrolle</li>
    <li>Endreinigung der Flächen</li>
  </ul>

  <p>
    Einsatzzeit: November bis April – auch im Notfall 24/7 verfügbar.
  </p>

</ServiceLayout>