---

---
<header class="header">
  <div class="container header-inner">

    <a href="/maja-hausbetreuung">
      <div class="logo">
        <img src="/maja-hausbetreuung/assets/maja-logo.svg" alt="Hausbetreuung Maja Logo" >
      </div>
    </a>

    <!-- Hamburger Button -->
    <button class="menu-toggle" id="menu-toggle">
      ☰
    </button>

    <nav class="nav" id="nav">
      <a href="/maja-hausbetreuung#leistungen">Leistungen</a>
      <a href="/maja-hausbetreuung#warum">Warum wir?</a>
      <a href="/maja-hausbetreuung#kontakt" class="nav-cta">Kontakt</a>
    </nav>

  </div>

  <script>
    const header = document.querySelector(".header");
    const toggle = document.getElementById("menu-toggle");
    const nav = document.getElementById("nav");

    // Scroll Effekt
    window.addEventListener("scroll", () => {
      header.classList.toggle("scrolled", window.scrollY > 50);
    });

    // Menü Toggle
    toggle.addEventListener("click", () => {
      nav.classList.toggle("open");
    });

    
  </script>


  <!-- Wegklappen nach Klick -->
  <script>
    const links = nav.querySelectorAll("a");

    links.forEach(link => {
      link.addEventListener("click", () => {
        nav.classList.remove("open");
      });
    });
  </script>
</header>